/* es una mala práctica usar selectores '*' */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;  /* por defecto es la altura del contenido */
}

.contenido {
    width: 100%;  /* va a ocupar toda la pantalla */
    height: 100%;
}